/* Базові налаштування */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.answer-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

/* Завдання 2 - Підготовка CSS (Візуальні стани) */
.hide {
    display: none;
}

.correct {
    background-color: rgb(0, 90, 0);
    color: white;
}

.wrong {
    background-color: rgb(189, 0, 0);
    color: white;
}

#start-btn,
#restart-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
